@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224.48 43.28% 26.27%;
    --card: 230 100% 98.82%;
    --card-foreground: 224.48 43.28% 26.27%;
    --popover: 0 2.86% 93.14%;
    --popover-foreground: 240 10% 3.92%;
    --primary: 178.11 68.35% 72.75%;
    --primary-foreground: 0 0% 0%;
    --secondary: 240 4.76% 95.88%;
    --secondary-foreground: 178.1 81.82% 45.29%;
    --muted: 240 4.76% 95.88%;
    --muted-foreground: 240 3.83% 46.08%;
    --accent: 240 4.76% 95.88%;
    --accent-foreground: 240 5.88% 10%;
    --destructive: 0 62.73% 68.43%;
    --destructive-foreground: 0 0% 98.04%;
    --border: 240 40% 98.04%;
    --input: 177.5 68.57% 86.27%;
    --ring: 240 5.03% 64.9%;
    --radius: 0.3;
  }

  .dark {
    --background: 240 10% 3.92%;
    --foreground: 0 0% 98.04%;
    --card: 240 10% 3.92%;
    --card-foreground: 0 0% 98.04%;
    --popover: 240 10% 3.92%;
    --popover-foreground: 0 0% 98.04%;
    --primary: 0 0% 98.04%;
    --primary-foreground: 240 5.88% 10%;
    --secondary: 240 3.7% 15.88%;
    --secondary-foreground: 0 0% 98.04%;
    --muted: 240 3.7% 15.88%;
    --muted-foreground: 240 5.03% 64.9%;
    --accent: 240 3.7% 15.88%;
    --accent-foreground: 0 0% 98.04%;
    --destructive: 0 62.03% 30.98%;
    --destructive-foreground: 0 0% 98.04%;
    --border: 240 3.7% 15.88%;
    --input: 240 3.7% 15.88%;
    --ring: 240 4.88% 83.92%;
    --radius: 0.3;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
